<div class="dashboard-parent">
    <div class="center-content dashboard-wrapper col-sm-12">
        <div class="container col-sm-4 first">
            <div class="container col-sm-12 categories"  routerLink = '/trends' clickable>
                <div class="category-text">Show me the</div>
                <div class="category-text-strong"><strong>latest trends</strong></div>
            </div>
        </div>
        <div class="container col-sm-4">
            <div class="container col-sm-12 categories" routerLink = '#' clickable>
                <div class="category-text">Find me the</div>
                <div class="category-text-strong"><strong>perfect color</strong></div>
            </div>
        </div>
        <div class="container col-sm-4 last">
            <div class="container col-sm-12 categories" routerLink = "#" clickable>
                <div class="category-text">Products</div>
                <div class="category-text-strong"><strong>customer love</strong></div>
            </div>
        </div>
    </div>
</div>