<div class="center-content" style="margin-left: 15%;">
    <div class="col-sm-3 well" style="background-color: black;margin-left: 10px; margin-right: 10px;">
        <div class="container col-sm-12">
            sfggksfh
        </div>
    </div>
    <div class="col-sm-3 well" style="background-color: black;margin-left: 10px; margin-right: 10px;">
        <div class="container col-sm-12">
            sfggksfh
        </div>
    </div>
    <div class="col-sm-3 well" style="background-color: black;margin-left: 10px; margin-right: 10px;">
        <div class="container col-sm-12">
            sfggksfh
        </div>
    </div>
</div>