.categories {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#272727+0,272727+38,000000+63,000000+100 */
	background: #272727;
	/* Old browsers */
	background: -moz-linear-gradient(top, #272727 0%, #272727 38%, #000000 63%, #000000 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, #272727 0%, #272727 38%, #000000 63%, #000000 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #272727 0%, #272727 38%, #000000 63%, #000000 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#272727', endColorstr='#000000', GradientType=0);
	/* IE6-9 */
	border: none;
	height: 800px;
	border-radius: 8px;
	padding: 10% 7%;
	cursor: pointer;
	clear: all;
	margin-bottom: 10px;
}

.categories:hover .category-text, .categories:hover .category-text-strong {
	/*text-shadow:0px 0px 10px #b431ae;*/
	color: #00e6e6;
}

.dashboard-wrapper {
	height: 85%;
	padding: 10px 10px;
	clear: all;
}

.category-text {
	font-size: 60px;
	letter-spacing: 1;
}

.category-text-strong {
	font-size: 70px;
	letter-spacing: 2;
	margin-top: -30px;
}

.category.strong {
	font-weight: bold;
}

.first {
	padding-left: 15px;
}

.last {
	padding-right: 15px;
}

@media (max-width : 1024px) {
	.categories {
		height: 65%;
	}
	.dashboard-wrapper {
		overflow-y: scroll;
	}
	.category-text {
		font-size: 19px;
		letter-spacing: 0;
	}
	.category-text-strong {
		font-size: 19px;
		letter-spacing: 0;
		margin-top: -5px;
	}
}
@media (max-width : 359px){
	.dashboard-wrapper {
		height: 70%;
	}
}
