<!-- Navbar -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggle" data-target="#myNavbar" data-toggle="collapse" type="button">
                <span class="icon-bar">
                </span>
                <span class="icon-bar">
                </span>
                <span class="icon-bar">
                </span>
            </button>
            <a class="navbar-brand" (click)="goBack()">
                <i aria-hidden="true" class="nav-menu fa fa-arrow-left">
                </i>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a routerLink="/search">
                        <i aria-hidden="true" class="search fa fa-search">
                        </i>
                    </a>
                </li>
                <li>
                    <a routerLink="/home">
                        <i aria-hidden="true" class="nav-menu fa fa-home">
                        </i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>