<div class="center-content">
	<div class="home-text">
		Tap here for the
	</div>
	<div class="home-text strong">
		Latest Hair Trends
	</div>
	<div>
		<a class="btn btn-default click-me" routerLink="/dashboard">
			Surprise me!
		</a>
	</div>
	<div id="content-area" style="object-fit:cover;">
        <img class="banner-img" src="/assets/images/homepic.PNG" alt="" style="height:auto;">
    </div>
</div>
<!-- 
<p>The hero's birthday is {{ birthday | date:format }}</p>
  <button (click)="Format1()">Toggle Format</button> -->
