.home{
	background-image: url("/assets/images/homepic.PNG");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
}
.center-content{
	padding: 20% 15%;
}
.click-me{
	width: 150px;
	border-radius: 20px !important;
	color: #ddd;
	background: rgba(255,255,255,0.4);
	font-size: 17px;
	letter-spacing: 1;
	border : none;
}
.home-text{
	font-size: 50px;
}
.home-text.strong{
	font-weight: bold;
}
