<div class="container product-wrapper">
	<div class="title_header">
		Latest Trends & Tips
	</div>
	<div *ngIf="products" class="row listing col-sm-12">
		<a [routerLink]="['/details', product.id]" *ngFor="let product of products; index as i" class="col-sm-3 product">
			<img src="/assets/images/{{product.img}}"/>
			<h3>{{product.title}}</h3>
			<p>{{product.description}}</p>
		</a>
	</div>
	<div *ngIf="products && !(len < perPage)" align="center" style="margin-bottom: 50px;">
		<button class="btn btn-success" (click)="onLoadMore()">Load More</button>
	</div>
</div>
<div class="my-container">
	<ngx-loading [show]="loading" ></ngx-loading>
</div>