
.title_header h4{
	font-family: Verdana;
    font-size: 45px;
    font-weight: normal;
    letter-spacing: 3px;
} 
.listing{
	margin-top: 100px;
}
/* .listing div{
	min-height: 450px;
}
.listing div img{
	width: 100%;
	border-radius: 10px;
	cursor: pointer;
}
.listing div h3{
	font-weight: 700;
}
.listing div p{
	padding: 10px 0;
	font-size: 17px;
	font-weight: 400;
} */
:host ::ng-deep .listing .product{
	min-height: 450px;
}
:host ::ng-deep .listing a:hover{
	color: #ffffff;
}
:host ::ng-deep .listing .product img{
	width: 100%;
	border-radius: 10px;
	cursor: pointer;
	transition: 'all 0.3s'
}
:host ::ng-deep .listing .product h3{
	font-weight: 700;
}
:host ::ng-deep .listing .product p{
	padding: 10px 0;
	font-size: 17px;
	font-weight: 400;
}
@media (max-width : 1024px) {
	.product-wrapper {
		overflow-y: scroll;
		height: 85%;
	}

}
@media (max-width : 359px){
	.product-wrapper {
		height: 79%;
	}
}
