
.title_header{
    font-size: 60px;
    font-weight: normal;
    letter-spacing: 1px;
}
.listing{
	margin-top: 25px;
}
/* .listing div{
	min-height: 450px;
}
.listing div img{
	width: 100%;
	border-radius: 10px;
	cursor: pointer;
}
.listing div h3{
	font-weight: 700;
}
.listing div p{
	padding: 10px 0;
	font-size: 17px;
	font-weight: 400;
} */
.listing .product{
	min-height: 450px;
	padding-left: 0px;
}
.listing a:hover{
	color: #ffffff;
}
.listing .product img{
	width: 100%;
	border-radius: 10px;
	cursor: pointer;
}
.listing .product h3{
	font-weight: 700;
}
.listing .product p{
	padding: 10px 0;
	font-size: 17px;
	font-weight: 400;
}
@media (max-width : 1024px) {
	.product-wrapper {
		overflow-y: scroll;
		height: 85%;
	}
	.title_header {
		font-size: 28px;
		letter-spacing: 0;
	}

}
@media (max-width : 359px){
	.product-wrapper {
		height: 79%;
	}
	.title_header {
		font-size: 19px;
		letter-spacing: 0;
	}
}